<html>

<body>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
    <div>
            <form method="post">
                <input type="text" name="text" placeholder="Enter message" />
                <input type="text" name="tag" placeholder="UserName destination">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="sumbit"> Send </button>
            </form>
    </div>
    {{#message}}
     {{message}}
    {{/message}}

        <div>All messages</div>
        {{#messages}}
        <div>
            <i>to user:{{tag}}</i>
            <strong> from "{{authorName}}" :</strong>
            <span>{{text}}</span>
        </div>
        {{/messages}}
</body>

</html>